html 
    head 
        title Marcos Segantine | Express and Pug
        link(rel="stylesheet", href="styles.css")
    
    body.theme-dark 
        div 
            p= text
            span= book_chapter

        span.theme MODE